 i.fab {
     color: $negro;
     font-size: 4rem;
     &:hover {
         color: $rojo;
     }
 }
 
 #rrss {
     background-color: $cafeclaro;
 }
 
 @media (min-width:764px) {
     .titulo__productora {
         width: 100%;
         text-align: center;
     }
     .rrss__cuerpo {
         width: 60%;
     }
 }